/* -------  General Styles ------- */

body {
	font-family: "Lato", sans-serif;
}

h2 {
	font-size: 26px;
	font-weight: 400;
	margin: 0 10px 10px 10px;
	text-align: center;
}

h3 {
	font-size: 18px;
	font-weight: 500;
}

p {
	line-height: 1.5em;
	margin: 0;
}

section {
	padding: 20px;
}

section.alternate-background {
	background-color: #00a699;
	color: #fff;
}

main img {
	width: 100px;
}

/* ---  Groups & Items --- */

.group {
	display: flex;
	flex-direction: column;
}

.item {
	flex: 1;
	margin: 10px;
}

.item-double {
	flex: 2;
}

/* -------  Navigation ------- */

header {
	background-color: #ff385c;
	padding: 20px 20px 0 20px;
	text-align: center;
}

.logo {
	font-family: "Pangolin", cursive;
	font-size: 72px;
	color: #fff;
}

header nav ul li {
	list-style-type: none;
}

header nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 0 20px 0 0;
}

header nav ul li a:hover {
	color: #bdbdbd;
	text-decoration: none;
}

/* -------  Search Form ------- */
form {
	border: 2px solid #ff385c;
	padding: 10px;
}

form label {
	font-weight: bold;
}

form select,
form input {
	margin-bottom: 20px;
	width: 180px;
}

form button {
	background-color: #ff385c;
	border: none;
	color: #fff;
	font-size: 24px;
	padding: 15px;
	width: 100%;
}

/* -------  Footer ------- */

footer {
	background-color: #ff385c;
}

footer p {
	color: #fff;
	text-align: center;
	padding: 20px;
}

/* -------  Sam's Classes ------- */

main img {
  width: 100%;
}

.here {
  border: 10px solid rgb(255, 0, 255);
}

.sanityCheck {
  background-color: rgb(255, 0, 255);
}

.flexThis {
	display: flex;
}

.flexThis label {
  width: 175px;
}

.flexThis input,
.flexThis select {
  flex: 1;
  width: 100%;
}

.justCenter {
	justify-content: center;
}

.justSpcBetween{
  justify-content: space-between;
}

.unPad {
	padding: 0px;
}

.padBot10{
  padding-bottom: 10px;
}
