/* -------  General Styles ------- */

body {
	font-family: 'Lato', sans-serif;
}

h2 {
	font-size: 26px;
	font-weight: 400;
	margin: 0 10px 10px 10px;
	text-align: center;
}

.label-input {
	display: flex;
	justify-content: space-around;
}

h3 {
	font-size: 18px;
	font-weight: 500;
}

p {
	line-height: 1.5em;
	margin: 0;
}

section {
	padding: 20px;
}

section.alternate-background {
	background-color: #00a699;
	color: #fff;
}

main img {
	width: 100%;
}

/* -------  Navigation ------- */

header {
	background-color: #ff385c;
	padding: 20px 20px 0 20px;
	text-align: center;
}

.logo {
	font-family: 'Pangolin', cursive;
	font-size: 72px;
	color: #fff;
}

#menu {
	display: flex;
	justify-content: center;
	padding-bottom: 15px;
}

header nav ul li {
	list-style-type: none;
}

header nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 0 20px 0 0;
}

header nav ul li a:hover {
	color: #bdbdbd;
	text-decoration: none;
}

/* -------  Search Form ------- */
form {
	border: 2px solid #ff385c;
	padding: 10px;
}

form label {
	font-weight: bold;
}

form select,
form input {
	margin-bottom: 20px;
	width: 180px;
}

form button {
	background-color: #ff385c;
	border: none;
	color: #fff;
	font-size: 24px;
	padding: 15px;
	width: 100%;
}

/* -------  Footer ------- */

footer {
	background-color: #ff385c;
}

footer p {
	color: #fff;
	text-align: center;
	padding: 20px;
}

/* -------  Media Query ------- */

@media all and (max-width: 400px) {
	.logo {
		font-size: 50px;
	}
}

@media all and (min-width: 480px) {
	header {
		display: flex;
		justify-content: space-between;
	}

	.logo {
		font-size: 40px;
	}
	form {
		display: flex;
		justify-content: space-evenly;
		gap: 10px;
		font-size: x-small;
	}
	form > div {
		width: 20%;
	}
	.label-input {
		display: flex;
		flex-direction: column;
	}

	form input,
	form select {
		font-size: x-small;
		width: 100%;
	}

	form button {
		font-size: x-small;
	}

	.about-content {
		display: flex;
		gap: 20px;
		font-size: x-small;
		justify-content: center;
		align-items: center;
	}

	.about-content div {
		width: 50%;
	}

	.about-images {
		display: flex;
		gap: 10px;
	}

	.ideas-content {
		display: flex;
		gap: 20px;
	}
	.ideas-content div {
		width: 50%;
	}

	.host-content {
		display: flex;
		justify-content: center;
		gap: 20px;
		align-items: center;
		font-size: x-small;
	}
	.host-content div {
		width: 50%;
	}
}

@media all and (min-width: 500px) {
	.about-content {
		display: flex;
		gap: 20px;
		font-size: small;
		justify-content: center;
		align-items: center;
	}

	.host-content {
		display: flex;
		justify-content: center;
		gap: 20px;
		align-items: center;
		font-size: small;
	}

	@media all and (min-width: 700px) {
		.about-content {
			display: flex;
			gap: 20px;
			font-size: medium;
			justify-content: center;
			align-items: center;
		}

		.host-content {
			display: flex;
			justify-content: center;
			gap: 20px;
			align-items: center;
			font-size: medium;
		}
	}

	@media all and (min-width: 850px) {
		.about-content {
			display: flex;
			gap: 20px;
			font-size: large;
			justify-content: center;
			align-items: center;
		}

		.host-content {
			display: flex;
			justify-content: center;
			gap: 20px;
			align-items: center;
			font-size: large;
		}
	}
}
